__pycache__/ 
.venv/
.env
*.db
*.db-journal
tests/*.db
tests/.test.env
docs/node_modules
docs/manual/.vitepress/cache
docs/manual/.vitepress/dist
data/
.DS_Store
public/*
!public/.gitkeep
dist
docs/api/environments