# Database Configuration
DATABASE_URL=sqlite+aiosqlite:///./dbmcp.db

# Security
SECRET_KEY=your-secret-key-here-change-this-in-production

# JWT Configuration
JWT_SECRET_KEY=jwt-secret-key-change-this-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60


# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=true

# Logging
LOG_LEVEL=INFO

# CORS, add your frontend url here if its served from a different port and domain
ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:8000"]